PORT=5001
JWT_SECRET=your_jwt_secret_here
# NODE_ENV=development

# Email Google Workspace
EMAIL_USER=webapp@neunoi.it
EMAIL_APP_PASSWORD=your_google_app_password_here

# URL del sito ufficiale per i link nelle email
FRONTEND_URL=https://biblioteca.neunoi.it